USE [RaceDayDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/3/2026 2:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 9/3/2026 2:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[enrollment_id] [int] IDENTITY(1,1) NOT NULL,
	[participant_id] [int] NOT NULL,
	[event_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[registration_date] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventCategories]    Script Date: 9/3/2026 2:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventCategories](
	[event_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 9/3/2026 2:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[organizer_id] [int] NOT NULL,
	[name] [varchar](200) NOT NULL,
	[description] [varchar](max) NULL,
	[event_date] [datetime] NOT NULL,
	[location] [varchar](255) NOT NULL,
	[route_info] [varchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 9/3/2026 2:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[result_id] [int] IDENTITY(1,1) NOT NULL,
	[enrollment_id] [int] NOT NULL,
	[time] [varchar](20) NULL,
	[position] [int] NULL,
	[pace] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/3/2026 2:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
	[description] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/3/2026 2:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([category_id], [name], [description], [created_at], [updated_at]) VALUES (1, N'5km', N'5 kilometer race - perfect for beginners', CAST(N'2026-09-03T12:36:19.210' AS DateTime), CAST(N'2026-09-03T12:36:19.210' AS DateTime))
INSERT [dbo].[Categories] ([category_id], [name], [description], [created_at], [updated_at]) VALUES (2, N'10km', N'10 kilometer race - for intermediate runners', CAST(N'2026-09-03T12:36:19.210' AS DateTime), CAST(N'2026-09-03T12:36:19.210' AS DateTime))
INSERT [dbo].[Categories] ([category_id], [name], [description], [created_at], [updated_at]) VALUES (3, N'Half Marathon', N'21.1 kilometer race - for experienced runners', CAST(N'2026-09-03T12:36:19.210' AS DateTime), CAST(N'2026-09-03T12:36:19.210' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([enrollment_id], [participant_id], [event_id], [category_id], [status], [registration_date], [created_at], [updated_at]) VALUES (1, 3, 1, 4, N'Confirmed', CAST(N'2026-09-03T12:36:19.243' AS DateTime), CAST(N'2026-09-03T12:36:19.243' AS DateTime), CAST(N'2026-09-03T12:36:19.243' AS DateTime))
INSERT [dbo].[Enrollments] ([enrollment_id], [participant_id], [event_id], [category_id], [status], [registration_date], [created_at], [updated_at]) VALUES (2, 3, 3, 4, N'Confirmed', CAST(N'2026-09-03T12:36:19.243' AS DateTime), CAST(N'2026-09-03T12:36:19.243' AS DateTime), CAST(N'2026-09-03T12:36:19.243' AS DateTime))
INSERT [dbo].[Enrollments] ([enrollment_id], [participant_id], [event_id], [category_id], [status], [registration_date], [created_at], [updated_at]) VALUES (3, 4, 1, 2, N'Registered', CAST(N'2026-09-03T12:36:19.243' AS DateTime), CAST(N'2026-09-03T12:36:19.243' AS DateTime), CAST(N'2026-09-03T12:36:19.243' AS DateTime))
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
INSERT [dbo].[EventCategories] ([event_id], [category_id], [created_at]) VALUES (1, 1, CAST(N'2026-09-03T12:36:19.230' AS DateTime))
INSERT [dbo].[EventCategories] ([event_id], [category_id], [created_at]) VALUES (1, 2, CAST(N'2026-09-03T12:36:19.230' AS DateTime))
INSERT [dbo].[EventCategories] ([event_id], [category_id], [created_at]) VALUES (1, 3, CAST(N'2026-09-03T12:36:19.230' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([event_id], [organizer_id], [name], [description], [event_date], [location], [route_info], [created_at], [updated_at]) VALUES (1, 1, N'Soweto Marathon 2026', N'Annual Soweto Marathon through the historic streets of Soweto', CAST(N'2026-09-20T06:00:00.000' AS DateTime), N'Soweto, Johannesburg', N'Route starts at Orlando Stadium, goes through Vilakazi Street and returns', CAST(N'2026-09-03T12:36:19.220' AS DateTime), CAST(N'2026-09-03T12:36:19.220' AS DateTime))
INSERT [dbo].[Events] ([event_id], [organizer_id], [name], [description], [event_date], [location], [route_info], [created_at], [updated_at]) VALUES (2, 1, N'Cape Town Cycle Tour 2026', N'The worlds largest timed cycle race around the Cape Peninsula', CAST(N'2026-03-08T05:30:00.000' AS DateTime), N'Cape Town', N'Route around the Cape Peninsula - 109km of scenic views', CAST(N'2026-09-03T12:36:19.220' AS DateTime), CAST(N'2026-09-03T12:36:19.220' AS DateTime))
INSERT [dbo].[Events] ([event_id], [organizer_id], [name], [description], [event_date], [location], [route_info], [created_at], [updated_at]) VALUES (3, 2, N'Comrades Marathon 2026', N'The Ultimate Human Race - 90km between Durban and Pietermaritzburg', CAST(N'2026-06-01T05:30:00.000' AS DateTime), N'Durban to Pietermaritzburg', N'Up-run from Durban to Pietermaritzburg - total 90km', CAST(N'2026-09-03T12:36:19.220' AS DateTime), CAST(N'2026-09-03T12:36:19.220' AS DateTime))
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Results] ON 

INSERT [dbo].[Results] ([result_id], [enrollment_id], [time], [position], [pace], [created_at], [updated_at]) VALUES (1, 1, N'03:45:12', 120, N'05:20/km', CAST(N'2026-09-03T12:36:19.260' AS DateTime), CAST(N'2026-09-03T12:36:19.260' AS DateTime))
INSERT [dbo].[Results] ([result_id], [enrollment_id], [time], [position], [pace], [created_at], [updated_at]) VALUES (2, 2, N'08:30:45', 450, N'05:40/km', CAST(N'2026-09-03T12:36:19.260' AS DateTime), CAST(N'2026-09-03T12:36:19.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[Results] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name], [description], [created_at], [updated_at]) VALUES (1, N'Organizer', N'Event organizer who can create and manage events', CAST(N'2026-09-03T12:36:19.193' AS DateTime), CAST(N'2026-09-03T12:36:19.193' AS DateTime))
INSERT [dbo].[Roles] ([role_id], [role_name], [description], [created_at], [updated_at]) VALUES (2, N'Participant', N'Regular participant who can enter events and track results', CAST(N'2026-09-03T12:36:19.193' AS DateTime), CAST(N'2026-09-03T12:36:19.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [role_id], [name], [email], [password_hash], [created_at], [updated_at]) VALUES (1, 1, N'Thabo Mbeki', N'thabo@raceday.co.za', N'hashed_password_organizer1', CAST(N'2026-09-03T12:36:19.200' AS DateTime), CAST(N'2026-09-03T12:36:19.200' AS DateTime))
INSERT [dbo].[Users] ([user_id], [role_id], [name], [email], [password_hash], [created_at], [updated_at]) VALUES (2, 1, N'Nadia Williams', N'nadia@raceday.co.za', N'hashed_password_organizer2', CAST(N'2026-09-03T12:36:19.200' AS DateTime), CAST(N'2026-09-03T12:36:19.200' AS DateTime))
INSERT [dbo].[Users] ([user_id], [role_id], [name], [email], [password_hash], [created_at], [updated_at]) VALUES (3, 2, N'Sipho Ndlovu', N'sipho@gmail.com', N'hashed_password_participant1', CAST(N'2026-09-03T12:36:19.207' AS DateTime), CAST(N'2026-09-03T12:36:19.207' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__72E12F1BA7CE5C99]    Script Date: 9/3/2026 2:17:20 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Enrollments_Unique]    Script Date: 9/3/2026 2:17:20 PM ******/
ALTER TABLE [dbo].[Enrollments] ADD  CONSTRAINT [UQ_Enrollments_Unique] UNIQUE NONCLUSTERED 
(
	[participant_id] ASC,
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Results_Enrollment]    Script Date: 9/3/2026 2:17:20 PM ******/
ALTER TABLE [dbo].[Results] ADD  CONSTRAINT [UQ_Results_Enrollment] UNIQUE NONCLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B104D058A8]    Script Date: 9/3/2026 2:17:20 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164092CFFE2]    Script Date: 9/3/2026 2:17:20 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ('Registered') FOR [status]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [registration_date]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[EventCategories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Results] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Results] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Categories]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Events] FOREIGN KEY([event_id])
REFERENCES [dbo].[Events] ([event_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Events]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Users] FOREIGN KEY([participant_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Users]
GO
ALTER TABLE [dbo].[EventCategories]  WITH CHECK ADD  CONSTRAINT [FK_EventCategories_Categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventCategories] CHECK CONSTRAINT [FK_EventCategories_Categories]
GO
ALTER TABLE [dbo].[EventCategories]  WITH CHECK ADD  CONSTRAINT [FK_EventCategories_Events] FOREIGN KEY([event_id])
REFERENCES [dbo].[Events] ([event_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventCategories] CHECK CONSTRAINT [FK_EventCategories_Events]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Users] FOREIGN KEY([organizer_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Users]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Enrollments] FOREIGN KEY([enrollment_id])
REFERENCES [dbo].[Enrollments] ([enrollment_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Enrollments]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD CHECK  (([status]='Completed' OR [status]='Cancelled' OR [status]='Confirmed' OR [status]='Registered'))
GO
